<div class="w-full">
	<% if notice.present? %>
		<p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
	<% end %>

	<div id="teams" class="min-w-full">
		<% @teams.each do |team| %>
			<ul><%= link_to team.name, country_league_team_path(team.country, team.league, team) %></ul>
		<% end %>
	</div>
</div>
