<div class="container mx-auto px-4">
	<div class="grid gap-4 phone:grid-cols-1 tablet:grid-cols-2 laptop:grid-cols-3 xl:grid-cols-6 mt-8 ml-10 mr-10">
		<% @teams.each do |league, teams| %>
			<div class="border p-4">
				<h2 class="text-xl font-bold mb-2"><%= league.name %></h2>
				<ul>
					<% teams.each do |team| %>
						<li><%= link_to team.name, country_league_team_path(league.country, league, team) %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
	</div>
</div>
