<div class="container mx-auto px-4">
	<div class="grid gap-4 phone:grid-cols-1 tablet:grid-cols-2 laptop:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
		<% @leagues.each do |country, leagues| %>
			<div class="border p-4">
				<h2 class="text-xl font-bold mb-2"><%= country.name %></h2>
				<ul>
					<% leagues.each do |league| %>
						<li><%= link_to league.name, country_league_path(league.country, league) %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
	</div>
</div>
