<% @fixtures.each do |fixture| %>
  <div>
    <%= link_to fixture.home_team_season.team.name, fixture_path(fixture) %>
    <%= fixture.kick_off %>
    <%= fixture.away_team_season.team.name %>
  </div>
<% end %>