<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing player season</h1>

  <%= render "form", player_season: @player_season %>

  <%= link_to "Show this player season", @player_season, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to player seasons", player_seasons_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
