<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing team season</h1>

  <%= render "form", team_season: @team_season %>

  <%= link_to "Show this team season", @team_season, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to team seasons", team_seasons_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
