<div id="<%= dom_id head_to_head %>">
  <% if action_name != "show" %>
    <%= link_to "Show this head to head", head_to_head, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this head to head', edit_head_to_head_path(head_to_head), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
