<% unless request.url.include?("yellow_cards") %>
  <h5 class="text-center text-lg">Yellows</h5>
<% end %>
<table class="w-full divide-y divide-gray-200">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">Bookings</th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
    <% @most_booked_players.each do |player_season| %>
      <tr>
        <td class="text-sm font-medium text-gray-900">
          <%= link_to player_season.player.common_name, player_path(player_season.player), data: { turbo_frame: '_top' } %></td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-center">
          <%= link_to player_season.player.team.name_code, team_path(player_season.player.team), data: { turbo_frame: '_top' } %></td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-center">
          <%= player_season.yellows %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
