<div id="<%= dom_id goals_scored_stat %>">
  <% if action_name != "show" %>
    <%= link_to "Show this goals scored stat", goals_scored_stat, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this goals scored stat', edit_goals_scored_stat_path(goals_scored_stat), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
