<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New goals scored stat</h1>

  <%= render "form", goals_scored_stat: @goals_scored_stat %>

  <%= link_to 'Back to goals scored stats', goals_scored_stats_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
