<h6>Away</h6>
<% team.played_away_matches.each do |match| %>
  <p>
    <%= link_to "GW#{match.game_week} - #{match.home_team_name} #{match.home_score} - #{match.away_score}", fixture_path(match) %>
  </p>
<% end %>
