<div class="flex space-x-2 justify-center">
  <table class="w-full text-center">
    <thead>
    <tr>
      <% team.last_five_results.each do |hash| %>
        <th><%= "GW#{hash.keys.first}" %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <tr>
      <% team.last_five_results.each do |hash| %>
        <td class='text-2xl p-3'><%= hash.values.first %></td>
      <% end %>
    </tr>
    </tbody>
  </table>

</div>

