<div class="list-group list-group-horizontal justify-content-center">
  <% team.last_five_results.each do |result| %>
    <li class="list-group-item text-center">
      <%= result  %>
    </li>
  <% end %>
</div>
