<%= turbo_frame_tag "player_list" do %>
  <div class="grid grid-cols-4 ml-4 pl-4">
    <% players.each_slice(15).with_index do |player_slice, index| %>
      <% player_slice[0][:players].each do |player| %>
        <p><%= link_to player.return_name, player_path(player) %></p>
      <% end %>
    <% end %>
  </div>

  <%== pagy_nav @pagy_players %>
<% end %>
