<div class="grid grid-cols-4 gap-4 ml-4 pl-4 mt-5 players">
	<% players.each do |player| %>
		<ul class='mt-3'>
			<% if player.current_player_season %>
				<%= link_to "#{player.return_name} - #{player.team.name}", player_path_by_player_season(player.current_player_season), data: { 'turbo_frame': '_top' } %>
			<% else %>
				<%= link_to "#{player.return_name} - #{player.team.name}", player_path_by_team_and_player(player.team, player), data: { 'turbo_frame': '_top' } %>
			<% end %>
		</ul>
	<% end %>
</div>
