<div class="grid">
  <div class="row">
    <%= render partial: 'player_details' %>
  </div>
  <div class="row">
    <%= render partial: 'season_stats_table' %>
  </div>
  <div class="row">
    <div class="grid grid-cols-1">
      <div class="col-span-1" id="finished-fixtures-table">
        <%= render 'appearances' %>
      </div>
    </div>
  </div>
  <div class="row">
    
  </div>
</div>