<% if @top_assists %>
	<% @top_assists.each do |player_season| %>
		<tr class="dark:border-gray-700">
			<td class="px-4 py-2">
				<%= link_to player_season.return_name, player_path(player_season.player), data: { turbo_frame: '_top' } %>
			</td>
			<td class="px-4 py-2 text-center">
				<%= link_to player_season.return_team_name, team_path(player_season.team_season.team), data: { turbo_frame: '_top' }, class: "hidden md:inline-block" %>
				<%= link_to player_season.return_team_acronym, team_path(player_season.team_season.team), data: { turbo_frame: '_top' }, class: "md:hidden inline-block" %>
			</td>
			<td class="px-4 py-2 text-center">
				<%= player_season.assists_count %>
			</td>
		</tr>
	<% end %>
<% end %>
