<section class="flex justify-center items-center">
	<div class="w-full max-w-screen-xl">
		<div class="w-full aspect-w-16 aspect-h-9">
			<iframe class="w-7/9 h-7/9 m-auto p-2" src="https://www.youtube.com/embed/xOVsji5dL-k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
</section>

<section class="bg-white w-full py-10 px-10">
	<div class="max-w-screen-xl mx-auto px-4 grid grid-cols-1 tablet:grid-cols-3 laptop:grid-cols-6 gap-4">
		<% @leagues.each do |league| %>
			<div class="bg-green-100 p-4 rounded shadow">
				<%= render HomePage::LeagueComponent.new(league: league), cached: true %>
			</div>
		<% end %>
	</div>
</section>

<section class="bg-white w-full py-10 px-10">
	<div class="max-w-screen-xl mx-auto px-4 grid grid-cols-1 tablet:grid-cols-3 laptop:grid-cols-6 gap-4">
		<% @leagues.each do |league| %>
			<div class="bg-green-100 p-4 rounded shadow">
				<%= render CurrentGameWeekFixturesComponent.with_collection(@current_game_week), cached: true %>
			</div>
		<% end %>
	</div>
</section>
