<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing attacking stat</h1>

  <%= render "form", attacking_stat: @attacking_stat %>

  <%= link_to "Show this attacking stat", @attacking_stat, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to attacking stats", attacking_stats_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
