@import url('https://fonts.googleapis.com/css2?family=Anaheim:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.h4 {
    color: decoration-slate-500
}

.table {
    background-color: #ff0c11;
    max-height: 150px;
}

.pagy-nav,
.pagy-nav-js {
    @apply flex space-x-2;
}

.scrollies {
    max-height: 400px;
    overflow-y: auto;
}

.container {
    max-width: 2000px;
}

a:hover {
    @apply text-red-500;
}
